@import "react-alice-carousel/lib/alice-carousel.css";

@font-face {
  font-family: "Neris-Thin";
  src: local("Neris-Thin"),
    url("./fonts/neris-cufonfonts-webfont/Neris-Thin.woff") format("woff");
}

body {
  margin: 0;
  font-family: 'Neris-Thin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Neris-Thin', sans-serif;
  color: #ffebbe;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #001125;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #001125;
}

.App-link {
  color: #797976;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

th {
  text-align: center;
  background: #001125;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}