@font-face {
  font-family: "Neris-Thin";
  src: local("Neris-Thin"),
    url("./fonts/neris-cufonfonts-webfont/Neris-Thin.woff") format("woff");
}

body {
  margin: 0;
  font-family: 'Neris-Thin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Neris-Thin', sans-serif;
}