@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Alumni Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Alumni Sans', sans-serif;
}